html {height: 100%;}
body {
	background-color: #333;
	height: 100%;
	margin: 0;
}

#main {
	position: relative;
	top: calc(50% - 250px);
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}

div.blocos {
	background-color:  #fff;
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 500px;
	box-shadow: 0 4px 20px #ffffff;
	padding: 20px;
}

.botao {
	padding: 10px 5px;
	background: #f50a31;
	color: #fff;
	border-radius: 30px;
	padding: 10px 25px;
	margin-right: 10px;
}